<h2>Personal Page</h2>
<br>
{{#if user}}
<h4>Welcome to Mtg Finder {{user.username}}</h4>

<img src="{{user.imgPath}}" alt="">

<p>here you can edit your profile data, create you personal card collection</p>
{{/if}}


